<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <script src="__PUBLIC__/jquery-min.js"></script>
    <style>
        #center{ width: 1300px; height: 300px; margin: 20px auto ; }
        input[type=button],button{ height: 36px; width: 110px; }

        #content{ width: 400px; height:30px;margin-top:10px;}

        th,td{ padding: 15px; }
    </style>
</head>
<body id="body">

<div id="center">
<h2>扫描快递单号</h2>
<input type="text" name="track_num" id="content">
<input type="button" value="查询" id="subm">
<input type="button" value="取消" id="cancel">
<span></span>
<a href="/index/Index/listChecked">
    <button>查看已录入记录</button>
</a>
    <hr/>
    <table>
        <tr>
            <th>物流单号</th>
            <th>订单编号</th>
            <th>商品编码</th>
            <th>商品名称</th>
            <th>商品属性</th>
            <th>价格</th>
            <th>下单时间</th>
        </tr>
        <tr id="details">
        </tr>
    </table>
</div>

    <script type="text/javascript">
    $(function(){ $('#content').focus(); });
    $('#content').blur(function(){ $(this).focus(); });
    $('#cancel').click(function(){ alert('this is cancel'); });
    $(document).keypress(function(e){
        if(e.which == 13){
            $('#subm').click();
        }
    });
    $('#subm').click(function(){
        no=$('#content').val();
        $.ajax({
            'url':'/index/Index/search',
            'type':'post',
            'dataType':'JSON',
            'data':{'track_num':no},
            success:function(e){
                data=$.parseJSON(e);
                $('#content').val('');
                if( e !== false ){
                    //成功
                    tr_content='<td>'+data[0].track_num+'</td>'
                        +'<td>'+data[0].order_num+'</td>'
                        +'<td>'+data[0].pro_num+'</td>'
                        +'<td>'+data[0].name+'</td>'
                        +'<td>'+data[0].color+'</td>'
                        +'<td>'+data[0].price+'</td>'
                        +'<td>'+data[0].order_time+'</td>' ;
                    $('#details').html(tr_content);
                }else{
                    //失败
                    alert(no+' ***** 订单号不存在，请重新输入');
                    $('#details').html('');
                }
                console.log(data);
            },
            error:function(e){

                order_num=$('#content').val();
                if(e.status == 500) {
                    alert(order_num + ' ***** 此快递号码可能已经扫描过了!!!');
                }else{
                    alert('查询失败');
                }
                $('#content').val('');
            }
        });
    });
</script>
</body>
</html>